:root {
    --verde-farmacia: #2ecc71;
    --verde-oscuro: #27ae60;
    --fondo-oscuro: #1a1a1a;
    --texto-claro: #e0e0e0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--fondo-oscuro);
    color: var(--texto-claro);
    overflow: hidden;
}

header {
    padding: 15px;
    text-align: center;
    background: #222;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    z-index: 1000;
    position: relative;
}

h1 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    color: var(--verde-farmacia);
}

.botones-contenedor {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    background: #444;
    color: #bbb;
}

/* Esta clase es la que moveremos con JS */
button.activo {
    background-color: var(--verde-farmacia) !important;
    color: white !important;
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.4);
}

#map {
    height: calc(100vh - 115px);
    background-color: #121212;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #222 !important;
    color: #fff !important;
    border: 1px solid var(--verde-farmacia);
}